<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proveandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_buonotourist"
        android:label="@string/app_name" 
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.activity.principali.CercaActivity">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.activity.principali.CorseActivity" >
        </activity>
        <activity
            android:name="com.activity.principali.TariffeActivity" >
        </activity>
        <activity
            android:name="com.activity.principali.LinguaActivity" >
        </activity>
        <activity
            android:name="com.activity.principali.RisultatiRicercaActivity" >
        </activity>
        
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />   
</manifest>
